*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
    background-image: url(image/index\ bg.png);
    margin: 30px 50px;
    line-height: 1.4;

  }
  img {
    max-width: 100%;
  }
  .wrapper {
    display: grid;
    grid-gap: 20px;
  }
  .all ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(5, 1fr);
  }
  .all a {
    background: transparent;
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: black;
    font-size: 1.1rem;
    box-shadow:  0 1px 5px rgba(50, 47, 47, 0.8);
  }
  .all a:hover {
    background: rgba(64, 215, 232, 0.097);
    color: rgb(0, 0, 0);
  
   
  }
  .info {
    background:transparent ;
    box-shadow:0 1px 5px rgba(80, 76, 76, 0.8) ;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
    font-size:200%;
  }
  footer {
    margin-top: 2rem;
    background: rgb(142, 142, 142);
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  .protfolio {
    display: grid;
    grid-gap: 20px;
    grid-template-columns:  repeat(2, 1fr);
    box-shadow: 5px 10px #d9a5a4;
  }
  
  .protfolio img {
    width: 100%;
    box-shadow: 5px 10px #db9079;
    grid-template-rows: repeat(2, 1fr);
    padding: 20px;
  }
 .boxes {
  display: grid;
  grid-gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box1 {
  background:transparent ;
    box-shadow:4px 8px #f9e4cc ;
    display: grid;
    grid-gap: 30px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    padding: 4rem;
    font-size:200%;
}
.box2 {
  background:transparent ;
    box-shadow: 4px 8px #f2c2c5 ;
    display: grid;
    grid-gap: 40px;
    grid-row-gap: 2px;
    grid-template-columns: repeat(2, 2fr);
    padding: 5rem;
    font-size:200%;
}
@media(max-width:1250px){
  .blog-box{
      width: 300px;
  }
}
@media(max-width:1100px){
  .blog-box{
      width:70%;
  }
}
@media(max-width:550px){
  .blog-box{
      margin: 20px 10px;
      width: 100%;
  }
}  